/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Work Sans' , 'sans-serif';
}
/* shared styles */
.btn-primary{
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
color: wheat;
font-size: 1.25rem;
cursor: pointer;
border: 0;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.text-light-gray{
    color: #727272;
    
}
/* header styles */
header {
    background: rgba(255, 144, 14, 0.10); 
    padding: 50px 240px;
}
 nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

nav >ul {
    display: flex;
}
nav li{
   list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* banner-style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.teams-container{
   
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    /* padding-right: 70px; */
}
.teams-title{
    font-size: 2.8rem;
    max-width: 470px;
}
.teams-description{
    max-width: 540px;
}
.quick{
    color:#727272;
    font-weight: 500;
}
.text-features{
    color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
}
/* features section style */
.features .section-title{
    border-left: 5px solid  #FF900E;
    padding-left: 20px;
    
}
.features{
display: flex;
margin-top: 130px;
gap: 120px;
}
.feature-content .card{
    border-radius: 8px;
background: #FFF;
padding: 30px;
margin-top: 20px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom:  100px;
    right: 70px;
}
.ten-years-badge h2{
    font-size: 4rem;
}
.ten-years-badge p{
    font-size: 1.5rem;
}
/* facts section */
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:  30px;

}
.card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container{
display: flex;
justify-content: space-around;

}
/* sponsors style */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
display: flex;
justify-content: space-evenly;
margin-top: 50px;
gap: 40px;
align-items: center;
}
.sponsors-img-container img{
    width: 150px;
}
/* responsive media queries */
/* mobile-devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content,.facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
}
.feature-img img{
    width: 100%;
}
.ten-years-badge{
    position: static;
    max-width: 300px;
}
.facts-card-container{
    gap: 20px;
}
}
/* medium-devices */
@media  screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,  .teams-container,.features,
    .sponsors-img-container
    {
        flex-direction: column;
    }
}